<% provide(:title, t("static_pages.contact.title")) %>
<h1><%= t("static_pages.contact.heading") %></h1>
<h2><%= t("static_pages.contact.greeting", name: @name) %></h2>
<p><%= t("static_pages.contact.email_notice") %></p>
