<% provide(:title, t("static_pages.home.title")) %>
<h1><%= t("static_pages.home.heading") %></h1>

<p>
  <%= t("static_pages.home.description") %>
  <%= link_to t("static_pages.home.link_text"), Settings.book_link %>
  <%= t("static_pages.home.suffix") %>
</p>
